.team{
    width: 100%;
    height: 300px;
    background-color: #c18b11;
}
.team>.top{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.team>.bottom{
    width: 100%;
    height: 250px;
}
.team>.top>p{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}
.team>.bottom>div.swiper{
    width: 100%;
    height: 100%;
}
.team>.bottom>div.swiper>div.swiper-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team>.bottom>div.swiper>div.swiper-wrapper>div.swiper-slide{
    border-radius: 10px;
    width: 140px !important;
    height: 140px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.329);
}
.team>.bottom>div.swiper>div.swiper-wrapper>div.swiper-slide>img{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
div.swiper-button-next{
    right: 46%;
    transform: translate(-50%);
    top: 95%;
    color: black;
}
div.swiper-button-prev{
    left: 46%;
    transform: translate(50%);
    top: 95%;
    color: black;
}
.swiper-button-prev:after,
.swiper-button-next:after {
   --swiper-navigation-size: 25px;
   color: white;
   width: 100px !important;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #334549  ;
   border-radius: 10px;
 }
